<% layout('layouts/boilerplate') %> 


<form action="/login" method="POST" class="validated-form w-50 mx-auto my-4" novalidate>
    <h1 class="mb-3">Login</h1>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-control shadow-none" id="username" name="username" required >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control shadow-none" id="password" name="password" required >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <button class="btn btn-primary text-white">Log In</button>
    <a href="/register" class="ms-4">Doesn't have an account</a>

</form>

