<% layout('layouts/boilerplate') %> 


<form action="/register" method="POST" class="validated-form mx-auto w-50 my-4" novalidate>
    <h1 class="mb-3">Register</h1>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-control shadow-none" id="username" name="username" required >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control shadow-none" id="email" name="email" required >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control shadow-none" id="password" name="password" required >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <!-- <div class="mb-3">
        <label class="form-label" for="repeatedPassword">Repeat Password</label>
        <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword" required >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div> -->

    <button class="btn btn-success">Register</button>

</form>

